# Git
.git
.gitignore
.gitattributes

# Environment
.env
.env.*
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
Dockerfile
.dockerignore

# System
.DS_Store
